@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background: #fcd53b7c; 
  color: #000;
}

::-moz-selection {
  background: #fcd53b7c;
  color: #000;
}
@layer base {
  ::selection {
    background: #fcd53b7c;
    color: #000;
  }

  ::-moz-selection {
    background: #fcd53b7c;
    color: #000;
  }
}
