@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-serif-regular {
  font-family: "PT Serif", serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background: #fcd53b7c; 
  color: #000;
}

::-moz-selection {
  background: #fcd53b7c;
  color: #000;
}
@layer base {
  ::selection {
    background: #fcd53b7c;
    color: #000;
  }

  ::-moz-selection {
    background: #fcd53b7c;
    color: #000;
  }
}
